repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
    -   id: debug-statements
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format

-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.400
    hooks:
    -   id: pyright
        additional_dependencies:
        -   numpy
        -   pandas
        -   matplotlib
        -   scipy
        -   scikit-learn
        -   networkx
        -   seaborn
        -   types-seaborn>=0.13.2.20251221
        -   types-networkx>=3.6.1.20251220
