language: python
python:
  - "2.7"
virtualenv:
    system_site_packages: true
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq openjdk-7-jdk openjdk-7-jre ant
  - sudo apt-get install -qq python-numpy python-scipy python-h5py
  - sudo apt-get install python-matplotlib
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements.txt
# command to run tests, e.g. python setup.py test
script:
  - python -c "import jpype"
  - nosetests