appdirs==1.4.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
Click==7.0
control==0.8.3
coverage==5.0.2
cycler==0.10.0
decorator==4.4.1
dill==0.3.1.1
joblib==0.14.1
JPype1==0.7.0
kiwisolver==1.1.0
llvmlite==0.31.0
matplotlib==3.1.2
multiprocess==0.70.9
networkx==2.4
nose==1.3.7
numba==0.47.0
numexpr==2.7.1
numpy==1.18.1
pandas==0.25.3
pathos==0.2.5
pathspec==0.7.0
pox==0.2.7
ppft==1.6.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
regex==2020.1.8
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
sklearn==0.0
tables==3.6.1
toml==0.10.0
typed-ast==1.4.0
wincertstore==0.2
